<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container" style="margin-top: 25px;">
        <div class="control-group row-fluid form-inline">
            <label for="name" class="control-label col-sm-6 taskLabel"><p class="text-info">Task&nbsp;<i class="icon-star"></i></p></label>
            <div class="col-sm-6">
                <input type="text" id="task" placeholder="Enter a task..">
            </div>
        </div>
    </div>
</body>
</html>
