<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form>
        <div class="form-group">
            <label for="inputTask">Task</label>
            <input type="text" class="form-control" id="inputTask" placeholder="Enter task" data-bind="value: TaskEntered">
        </div>
        <div class="form-group">
            <label for="inputDate">Due Date</label>
            <input type="text" class="form-control datepicker" id="inputDate" data-bind="value: moment(DueDateEntered()).format('MM/DD/YYYY')">
        </div>
        <button type="submit" class="btn btn-primary" data-bind="click: AddTask">Add</button>
    </form>
    <table class="table-striped">
        <tr>
            <th>Tasks Entered</th>
        </tr>
        <tbody data-bind="foreach: Tasks">
            <tr>
                <td data-bind="text: Description"></td>
                <td data-bind="text: moment(DueDate()).format('MM/DD/YYYY')"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/ko")
@Scripts.Render("~/bundles/taskScripts")
@Scripts.Render("~/bundles/datepicker")

<script>
    $(function () {
        var viewModel = new Task.TaskViewModel();
        ko.applyBindings(viewModel);

        $('.datepicker').datepicker();
    });
</script>
