<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container" style="margin-top: 25px;">
        <div class="control-group row-fluid form-inline">
            <label for="name" class="control-label col-sm-6 taskLabel"><p class="text-info">Task&nbsp;<i class="icon-star"></i></p></label>
            <div class="col-sm-6">
                <input type="text" id="task" placeholder="Enter a task.." data-bind="value: TaskEntered">
                <input type="text" class="form-control datepicker">
            </div>
            <input type="button" class="btn btn-primary btn-sm" value="Add Task" data-bind="click: AddTask" />
        </div>
    </div>
    <table class="table-striped">
        <tr>
            <th>Tasks Entered</th>
        </tr>
        <tbody data-bind="foreach: Tasks">
            <tr>
                <td data-bind="text: Description"></td>
                <td data-bind="value: DueDate"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/ko")
@Scripts.Render("~/bundles/taskScripts")
@Scripts.Render("~/bundles/datepicker")

<script>
    $(function () {
        var viewModel = new Task.TaskViewModel();
        ko.applyBindings(viewModel);

        $('.datepicker').datepicker();
    });
</script>
